{ 
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF
  background: #f7f5f0;
}

h3 {
  font-family: "Impact", Charcoal, sans-serif;
  color: white;  
  text-shadow: 3px 3px 3px #3399CC;
} 

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #ffffff;
    position: relative; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #a8a4a4;
    color: black;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

header {
  text-align: center;
  background: url('https://static.zerochan.net/Zelda.no.Densetsu%3A.Mujura.no.Kamen.full.1540990.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 200px;
}

header {
  line-height: 1.5;
}

header .profile-image {
  margin-top: 50x;
  width: 160x;
  height: 160px;
  border-radius: 100%;
  border: 3px solid white;
  transition: all .5s;
}

header .profile-image:hover {
  transform: scale(3) rotate(360deg);
}

.tag {
  background-color: #efefef;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 

.location {
  background-color: #222;
  color: yellow;
  font-family: "Arial", Helvetica, sans-serif;  
}
